

/* index------------------------------- */

#about,#works{
    background-color: $bg-2;
}


#skill{
    background-color: $bg-1;
}


#about{
    .about-text h3 span{
        font-family: 'Fira Sans', sans-serif;
    }

    h3{
        margin-bottom: 10px;
    }

    .about-pic{
        width: 100%;
        text-align: center;
        @include s-pad(){
            margin-bottom: 15px;
        }
        @include phone(){
            margin-bottom: 15px;
        }
        img{
            width: 250px;
            height: 250px;
            border-radius: 99em;
            border: solid 1px $dark-gray;
            @include l-pad(){
                width: 200px;
                height: 200px;
            }
            @include s-pad(){
                width: 250px;
                height: 250px;
            }
            @include phone(){
                width: 250px;
                height: 250px;
            }
        }
    }
}




// skill

.skill-content{
    width: 65%;
    margin: 0 auto;
    @include l-pad(){
        width: 100%;
    }
    @include s-pad(){
        width: 100%;
    }
    @include phone(){
        width: 90%;
    }

    .skill-list {
        margin-bottom: 20px;
    }
    .skill-list h3 span{    
        display: block;
        font-size: 14px;
        font-style: italic;
        line-height: 1.4;
        letter-spacing: 1px;
        color: $font-ita;
        margin-top: 5px;
        @include l-pad(){
            
        }
        @include s-pad(){
            
        }
        @include phone(){
            font-size: 13px;
        }
    }
    
}

.progress {
    width: 100%;
    height: 25px;
  }
  .progress-wrap {
    margin: 0px auto 5px;
    overflow: hidden;
    // background: #FFDC4F;
    background: $blue;
    
    position: relative;
    .progress-bar {
      background: #EFF2F4;
      left: 0;
      position: absolute;
      top: 0;
    }
  }


/* work */

// tab-btn
.tab-header{
    margin-bottom: 25px;

    .tab-btn{
        width: 85px;
        display: inline-block;
        vertical-align: middle;
        color:  $dark-gray;
        background-color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 6px 12px;
        margin-right: 10px;
        position: relative; 
        cursor: pointer;
        transition: all 0.3s;
        overflow: hidden;
    
        &:after{
            content: '';
            width: 100%;
            margin: 0 auto;
            position: absolute;
            left: -85px;
            bottom: 0px;
            border-bottom: solid 2px lighten($dark-gray, 50%);
            transition: all 0.3s;
        }

        &:hover,&.active{
            color: lighten($dark-gray, 50%);
        }
    
        &:hover:after,&.active:after{
            left: 0px;
        }

    }    
}


.work-card{
    margin-bottom: 30px;
    .work-list-img{
        border: solid 1px #ccc;
        border-radius: 8px;
        padding: 0 10px;
        transition: all 0.3s;
        &:hover{
            opacity: 0.8;
        }
    }
    
    .work-use{
        padding: 0 8px;
        .tag{
            color: #58798c;
            padding: 4px;
            font-size: 14px;
            font-style:italic;
        }
    }

}

.tab-content#privately{
    display: none;
}




/* index END ------------------------------- */



